<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link th:href="@{/css/main.css}" rel="stylesheet" />
	<title>Dashboard</title>
</head>

<body class="d-flex flex-column min-vh-100">
	<header>
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
			<div class="container">
				<a class="navbar-brand" th:href="@{/dashboard}">Ticket Dash</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
					<ul class="navbar-nav justify-content-end">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/dashboard}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Servizi</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contatti</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<section class="ticket-creation-form mt-0">
		<div class="container vw-100">
			<div class="d-flex justify-content-center col-12">

				<div class="form-create col-auto my-5 rounded">
					<h1 class="text-center p-3" th:text="|Ticket: ${ticket.titolo}|"></h1>
					<!-- INIZIO FORM -->
					<form class="py-3 px-4" id="ticket-form" th:object="${ticket}"
						th:action="@{/dashboard/edit/{id}(id=${ticket.id})}" th:method="post">
						<div class="mb-3">
							<label for="titolo" class="form-label">Titolo*</label>
							<input class="form-control" type="text" id="titolo" th:field="*{titolo}"
								th:errorClass="is-invalid">
							<div th:if="${#fields.hasErrors('titolo')}" class="invalid-feedback">
								<ul>
									<li th:each="err: ${#fields.errors('titolo')}" th:text="${err}"></li>
								</ul>

							</div>



						</div>

						<!--la data di creazione non deve cambiare-->
						<div>

							<div class="mb-3 col d-flex justify-content-between">
								<div>

									<label for="data-creazione" class="form-label">Data creazione</label>
									<input class="form-control" type="text" id="data-creazione" th:field="*{data}"
										readonly>
								</div>
								<div>

									<label for="categoria" class="form-label">Categoria*</label>
									<select class="form-control mb3" th:field="*{categoria}">
										<option th:each="op : ${categorie}" th:value="${op.id}" th:text="${op.nome}">
										</option>
									</select>
								</div>
							</div>
						</div>
						<div class="mb-3">
							<label for="operatore" class="form-label">Operatore*</label>
							<select class="form-control" Th:field="*{user}">
								<option th:each="us : ${utenti}" th:value="${us.id}" th:text="${us.username}"></option>
							</select>
						</div>

						<div class="mb-3">
							<label for="descrizione" class="form-label">Descrizione*</label>
							<textarea class="form-control" id="descrizione" name="descrizione" th:field="*{descrizione}"
								row="4" cols="50" th:errorClass="is-invalid"></textarea>
							<div th:if="${#fields.hasErrors('descrizione')}" class="invalid-feedback">
								<ul>
									<li th:each="err: ${#fields.errors('descrizione')}" th:text="${err}"></li>
								</ul>

							</div>
						</div>
						<div class="mb-3">
							<label for="status" class="form-label">Status</label>
							<select class="form-select" th:field="*{ticketStatus}" id="rooms">
								<option th:each=" itemStatus : ${T(it.svitali.dashboard.model.TicketStatus).values()}"
									th:value="${itemStatus}" th:text="${itemStatus}">
								</option>
							</select>

						</div>
						<button type="submit" class="btn btn-primary">MODIFICA</button>
					</form>
					<!--FINE FORM -->
				</div>
			</div>
		</div>
	</section>
	<div th:replace="fragments :: footer"></div>
	<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>