<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

	<title>Dashboard</title>
</head>

<body class="d-flex flex-column min-vh-100">
	<header>
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark mb-5">
			<div class="container">
				<a class="navbar-brand"	th:href="@{/dashboard}">Ticket Dash</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
					<ul class="navbar-nav justify-content-end">
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="#">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href="#"></a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contatti</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<section class="ticket-detail-section">

		<div class="container">
			<div class="d-flex justify-content-center align-items-center">				
			<h1 class="text-center me-3" th:text="|Dettaglio task ${ticket.titolo}|"></h1>
						
			<th:block th:switch="${ticket.ticketStatus}">
			    <span th:case="${T(it.svitali.dashboard.model.TicketStatus).NOT_STARTED}"
				class="rounded-pill bg-secondary text-light p-2" th:text="${ticket.ticketStatus}"></span>
			    <span th:case="${T(it.svitali.dashboard.model.TicketStatus).STARTED}"
				class="rounded-pill bg-primary text-light p-2" th:text="${ticket.ticketStatus}"></span>
			    <span th:case="${T(it.svitali.dashboard.model.TicketStatus).COMPLETED}"
				class="rounded-pill bg-success text-light p-2" th:text="${ticket.ticketStatus}"></span>
			</th:block>
			</div>
			<div class="d-flex justify-content-center">
				
			<div class="my-5">
				<p th:text="|Descrizione: ${ticket.descrizione}|"></p>
				<p>Operatore assegnato: </p>
				<p th:text="|DATA CREAZIONE: ${#temporals.format(ticket.data, 'dd/MM/yyyy HH:mm')}|"></p>
			</div>
			</div>
			
		</div>
		
	
	</section>
	<div th:replace="fragments :: footer"></div>
	<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>