<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
	<link th:href="@{/css/main.css}" rel="stylesheet" />
	<title>Dashboard</title>
</head>

<body class="d-flex flex-column min-vh-100">
	<header>
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
			<div class="container">
				<a class="navbar-brand" th:href="@{/dashboard}">Ticket Dash</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
					data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
					<ul class="navbar-nav justify-content-end">
						<li class="nav-item">
							<a class="nav-link active" aria-current="page" th:href="@{/dashboard}">Home</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Servizi</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Contatti</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>

	<section class="ticket-creation-form mt-0 vh-100">
		<div class="container">
			<div class="d-flex justify-content-center col-12">

				<div class="form-create col-auto my-5 rounded">
					<h1 class="text-center p-3 h4" th:text="|Aggiungi nota al ticket: ${ticket.titolo}"></h1>
					<form class="py-3 px-4" id="note-form" th:object="${nota}" th:action="@{/note/create}"
						th:method="post">
						<div class="mb-3">
							<input type="hidden" th:field="*{ticket}" id="ticket">
						</div>
                         <!-- IMPLEMENTARE CHE L'UTENTE CHE LOGGATO LA CREA' -->
						 <div class="mb-3">
						 	<label for="operatore" class="form-label">Operatore*</label>
						 	<select class="form-control" Th:field="*{user}">
						 		<option th:each="us : ${utenti}" th:value="${us.id}" th:text="${us.username}"></option>
						 	</select>
						 </div>
						<div class="mb-3">
							<label for="descrizione" class="form-label">Aggiungi nota*</label>
							<textarea class="form-control" id="nota-testo" name="nota-testo" th:field="*{notaTesto}"
								row="4" cols="50" th:errorClass="is-invalid"></textarea>
								<div th:if="${#fields.hasErrors('notaTesto')}" class="invalid-feedback">
									<ul>
										<li th:each="err: ${#fields.errors('notaTesto')}" th:text="${err}"></li>
									</ul>
									
								</div>
						</div>
						
						
						
						<div>
							<!--OPERATORE DA SELEZIONARE select da implementare  quello attivo-->
						</div>
						<!--fine select user -->
						<!--NOTE? -->
						<!--CATEGORIE?-->
						<button type="submit" class="btn btn-primary">AGGIUNGI NOTA</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<div th:replace="fragments :: footer"></div>
	<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
</body>

</html>